.black-bar {
	height: 50px;
	background: #333;
}

.header-sub {
	font-size: 24px;
	color: black;
}

.header-sub2 {
	font-size: 18px;
	font-weight: bold;
}

.work-item {
	font-size: 24px !important;
}

.white {
	color: white !important;
}

.icons {
	font-size: 28px;
	/* font-weight: bold; */
}

h1 {
	font-size: 24px !important;
}

.food-item {
	font-weight: bold;
	font-size: 22px;
	color: black;
}

.bold {
	font-weight: bold;
}

.item-category {
	color: green;
	font-weight: bolder;
}

.inner {
	opacity: 1 !important;
}

.image-margin {
	margin: 5px;
}

.card-img {
	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.logo-img {
	width: 600px;
	margin: 0 auto;
}

.home-subtitle {
	font-weight: bold;;
	font-size: 20px;
}
